<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
  nav {
    height: 50px;
    padding-top: 10px;
    padding-left: 120px;
    padding-right: 120px;
    background-image: url("/images/home_banner.jpg");
    background-size: cover;
  }
  body {
    background-color: #EFEFEF;
    color: #2E2F30;
    text-align: center;
    font-family: 'roboto', sans-serif;
    margin: 0;
  }

  div.dialog {
    width: 95%;
    max-width: 33em;
    margin: 4em auto 0;
  }

  div.dialog > div {
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    border-bottom-color: #BBB;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: white;
    padding: 7px 12% 0;
  }

  h1 {
    font-size: 100%;
    color: #730E15;
    line-height: 1.5em;
  }

  div.dialog > p {
    margin: 0 0 1em;
    padding: 2em;
    background-color: #F7F7F7;
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    border-bottom-color: #999;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-color: #DADADA;
    color: #666;
  }

  .go-home {
    padding: 15px 20px;
    box-shadow: ;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    cursor: pointer;
    margin: 8px 10px;
    border-radius: 3px;
    text-decoration: none;
  }
  .go-home:hover {
    background-color: #006ee5 !important;
    border: 1px solid #006ee5;
  }
  </style>
</head>

<body>
  <!-- This file lives in public/404.html -->
  <nav>
    <span style="float: left; font-size: 24px; color: #fff;"><img src="/javascripts/pharmacy.png"></span>
    <span style="float: right; font-size: 24px;">
      <a href="/" style="background-color: transparent; color: #fff; font-size: 16px;">
        Home
      </a>
    </span>
  </nav>
  <div class="dialog">
    <div>
      <h1>The page you were looking for doesn't exist.</h1>
      <p>You may have mistyped the address or the page may have moved.</p>
    </div>
    <p>
      <a href="/" class="go-home">
        Take me home
      </a>
    </p>
  </div>
</body>
</html>
