
<h5>Warning: This is a permanent action! It <strong>CANNOT</strong> be reversed.</h5>
<hr>
<div class="actions text-right">
    <%= link_to 'Delete Account', pharmacy_path(current_pharmacy), class:'btn btn-danger btn-lg white btn-delete' %>
</div>