<style>
  .main-nav {
    display: none;
  }
</style>
<body>
    <div class="col-md-2 vertical-panel">
      <div class="driver-profile-details" align="center">
        <div class="col-md-12 driver-avatar-div">
          <%= image_tag current_pharmacy.avatar.url(:medium), class:"rounded driver-avatar" %>
        </div>
      </div>
      <div class="nav-links">
        <ul class="nav flex-column">
          <li class="nav-item nav-item-pharmacy-view">
            <a class="nav-link nav-link-side <% if home == true %>active<% end %>" href="/batches">Batches</a>
          </li>
          <li class="nav-item nav-item-pharmacy-view">
            <a class="nav-link nav-link-side <% if url.include?("/requests")%>active<% end %>" href="/requests">Requests</a>
          </li>
          <li class="nav-item nav-item-pharmacy-view">
            <a class="nav-link nav-link-side <% if url.include?("/patients")%>active<% end %>" href="/patients">Patients</a>
          </li>
          <li class="nav-item nav-item-pharmacy-view">
            <a class="nav-link nav-link-side <% if url.include?("/transactions")%>active<% end %>" href="/transactions">Transactions</a>
          </li>
        </ul>
      </div>
      <div class="dashboard-control">
        <div class="row">
          <div class="col-md-3 offset-md-1 text-center logout-btn-div" data-toggle="tooltip" data-placement="top" title="Settings">
            <%= link_to settings_path, class:"white no-underline background-transparent" do %>
              <% if url.include?("settings") %>
                <i class="fa fa-cog pharmacy-bottom-icons theme-blue fa-spin fa-3x fa-fw"></i>
              <% else %>
                <i class="fa fa-cog pharmacy-bottom-icons"></i>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-3 text-center logout-btn-div" data-toggle="tooltip" data-placement="top" title="Help">
            <%= link_to help_path, class:"white no-underline background-transparent" do %>
              <i class="fa fa-question-circle pharmacy-bottom-icons"></i>
            <% end %>
          </div>
          <div class="col-md-3 text-center logout-btn-div" data-toggle="tooltip" data-placement="top" title="Logout">
            <%= link_to destroy_pharmacy_session_path, class:"white no-underline background-transparent", method: :delete do %>
              <i class="fa fa-power-off pharmacy-bottom-icons"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</body>