<nav class="navbar navbar-expand-lg main-nav fixed-top">
  <div class="container">
    <a class="navbar-brand background-transparent" href="/">
      <!--<h4 class="logo">RxCarriers</h4>-->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="col-md-9 offset-md-3 nav-col">
        <ul class="navbar-nav justify-content-end">
          <li id="pharmacy_id" style="display: none;"><%= current_pharmacy.id %></li>
          <a class="nav-item nav-item-logged-in nav-item-pharmacy-view no-underline background-transparent <% if home %>activated<% end %>" href="/dashboard">
            <li class="nav-link nav-link-side">
              <i class="fa fa-dashboard"></i> Dashboard
            </li>
          </a>
          <a class="nav-item nav-item-logged-in nav-item-pharmacy-view no-underline background-transparent <% if rx_list_path %>activated<% end %>" href="/rx">
            <li class="nav-link nav-link-side">
              <i class="fa fa-files-o"></i> Rx List
            </li>
          </a>
          <a class="nav-item nav-item-logged-in cursor-pointer no-underline background-transparent notification-tab" data-toggle="modal" data-target="#notificationsModal">
            <li class="nav-link nav-link-side" style="margin-right: 5px !important;">
              <i class="fa fa-bell-o" style="font-size: 18px !important; margin-right: -10px !important;"></i>
              <span id="alertCount"></span>
            </li>
          </a>
          <div class="nav-item nav-item-logged-in nav-item-pharmacy-view no-underline background-transparent dropdown <% if account_path %>activated<% end %> show" style="">
            <a class="nav-link nav-link-side background-transparent no-underline" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-md"></i> Account
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="border-radius: 0 !important;">
              <li class="dropdown-item di-nav" href="/settings">
                <%= link_to settings_path, class:"no-underline background-transparent font-14 theme-blue" do %>
                  Settings <i class="fa fa-cog" style="margin-left: 5px;"></i>
                <% end %>
              </li>
              <div class="dropdown-divider"></div>
              <li class="dropdown-item di-nav" href="/help">
                <%= link_to batches_path, class:"no-underline background-transparent font-14 theme-blue" do %>
                  Help <i class="fa fa-question-circle-o" style="margin-left: 5px;"></i>
                <% end %>
              </li>
              <div class="dropdown-divider"></div>
              <li class="dropdown-item di-nav" href="#">
                <%= link_to destroy_pharmacy_session_path, class:"no-underline background-transparent font-14 theme-blue", method: :delete do %>
                  Sign out <i class="fa fa-sign-out" style="margin-left: 5px;"></i>
                <% end %>
              </li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>