<style>
    .spinner-row {
        display: none;
    }
    
    #card-form {
        display: none;
    }
    .cancel-submission-div {
        padding: none;
        margin-top: 10px;
    }
    .cancel-submission {
        font-size: 15px;
        background-color: transparent;
    }
    .cancel-submission:hover {
        background-color: transparent;
        cursor: pointer;
    }
    .payment-vector {
        width: 50%;
    }
    .last-four-div {
        padding-top: 5px;
        vertical-align: middle;
    }
    .last-four {
        font-size: 14px;
    }
</style>

<div class="row" id="updateProfile">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body" style="padding-bottom: 20px;">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link active nav-link-settings font-14" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Account details</a>
                  <a class="nav-link nav-link-settings font-14" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Business operations</a>
                </div>
                <section class="notice" style="display: none;">
                    <div class="alert alert-success no-border-radius alert-dismissible fade show notice-alert" role="alert">
                        <i class="fa fa-check-circle"></i>
                        <span class="notice-text"><%= notice %></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active bordered background-white" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" style="padding: 10px 15px; border-radius: 5px;">
                <%= render 'form' %>
            </div>
            <div class="tab-pane fade bordered background-white" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" style="padding: 10px 15px; border-radius: 5px;">
                <%= render 'logistics_form' %>
            </div>
        </div>
    </div>
</div>
<script>
    $('#card-form').hide();
    $('.spinner-row').hide();
    
    $('#cancelSubscription').on('click', function() {
        var innerValue = $(this).text();
        if (innerValue == 'Cancel subscription') {
            $.get('/cancel_subscription');
        } else {
            window.location.replace('/choose_subscription');
        }
    });
</script>
