<style>
    .spinner-row {
        display: none;
    }
</style>

<div class="row" id="updateProfile">
    <div class="col-md-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active nav-link-settings font-14" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Account Settings</a>
          <a class="nav-link nav-link-settings font-14" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Payment Settings</a>
        </div>
        <section class="notice" style="display: none;">
            <div class="alert alert-success no-border-radius alert-dismissible fade show notice-alert" role="alert">
                <i class="fa fa-check-circle"></i>
                <span class="notice-text"><%= notice %></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </section>
    </div>
    <div class="col-md-8 offset-md-1 box-shadow bordered">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <%= render 'form' %>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" id="">
              <div id="pharmacyCard">
                  <% if current_pharmacy.card_token %>
                      <%= render 'card_data' %>
                  <% else %>
                      <%= render 'card_form' %>
                  <% end %>
              </div>
          </div>
        </div>
    </div>
</div>
<script>
    $('#card-form').hide();
    $('.spinner-row').hide();
    
    function showCardForm() {
        $('#confirmation-form').hide();
        $('#card-form').show();
    };
    function hideCardForm() {
        var conf = document.getElementById('confirmation-form');
        $('#card-form').hide();
        $('#confirmation-form').show();
    };
</script>
