<div class="row">
    <div class="col-md-12"><h5>Getting started</h5></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h6>1. Set up your bank account</h6>
            </div>
            <div class="card-body">
                <h6>Path:</h6>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Account</li>
                        <li class="breadcrumb-item"><a class="background-transparent theme-blue" href="/payment-settings">Earnings</a></li>
                        <li class="breadcrumb-item">Set up</li>
                    </ol>
                </nav>
                <p class="font-16">
                    In order to start selling, you need to set up your bank
                    account. We do this through a secure payment-processor called
                    <a href="https://stripe.com" class="background-transparent theme-blue" target="_blank">Stripe</a>.
                    Stripe is used by companies like Uber, Airbnb, Target and UnderArmour. Setting
                    up your Stripe account only takes a minute.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h6>2. Set up your business hours</h6>
            </div>
            <div class="card-body">
                <h6>Path:</h6>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Account</li>
                        <li class="breadcrumb-item"><a class="background-transparent theme-blue" href="/settings">Settings</a></li>
                        <li class="breadcrumb-item">Biz. operations</li>
                    </ol>
                </nav>
                <p class="font-16">
                    We use your store hours to let customers know whether or not
                    your store is open at the time of order. It also helps us
                    with some analytical work when conducting marketing campaigns
                    and when displaying pharmacies on our search page.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h6>3. Start filling your inventory</h6>
            </div>
            <div class="card-body">
                <h6>Path:</h6>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Inventory</li>
                        <li class="breadcrumb-item"><a class="background-transparent theme-blue" href="/inventory#pills-profile">Add new item</a></li>
                        <li class="breadcrumb-item">Add items</li>
                    </ol>
                </nav>
                <p class="font-16">
                    Adding your OTC items may possibly be time-consuming, depending on
                    the size of your inventory. But we can send a representative to your
                    store to fully handle the task and get you up and running, free of charge!
                    <a href="https://calendly.com/rxcarriers" class="background-transparent theme-blue" target="_blank">Request a rep now.</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 15px;">
    <div class="col-md-12"><h5>Receiving online orders</h5></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h6>1. Go to 'New orders' </h6>
            </div>
            <div class="card-body">
                <h6>Path:</h6>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">/ New orders</li>
                    </ol>
                </nav>
                <p class="font-16">
                    New orders from customers will be continuously loaded there
                    in real-time, and a notification sound will be triggered for
                    each order received. No need to refresh the page.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h6>2. Click on order</h6>
            </div>
            <div class="card-body">
                <h6>Path:</h6>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">{order card}</li>
                        <li class="breadcrumb-item">Process</li>
                    </ol>
                </nav>
                <p class="font-16">
                    Clicking a card will open a prompt. Click 'Process'
                    to send the order to the processing queue, or 'Cancel' to
                    cancel the order (an automatic refund will be triggered).
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h6>3. Go to 'Processing-queue'</h6>
            </div>
            <div class="card-body">
                <h6>Path:</h6>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Processing-queue</li>
                        <li class="breadcrumb-item"><a class="background-transparent theme-blue" href="/inventory#pills-profile">Pending delivery</a></li>
                    </ol>
                </nav>
                <p class="font-16">
                    A processed order is placed in this queue, pending delivery.
                    Clicking 'View details' will open a prompt. Click 'Send for delivery'
                    to complete the order, or 'Cancel' to cancel it (an automatic refund will be triggered).
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 15px;">
    <div class="col-md-12"><h5>Sales</h5></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h6>1. Taxes </h6>
            </div>
            <div class="card-body">
                <p class="font-16">
                    OTC items generally are not subject to a sales tax. To mark
                    an item as taxable, simply select that option when added it to
                    your inventory, and a NYS sales tax will be automatically applied.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h6>2. Tips</h6>
            </div>
            <div class="card-body">
                <p class="font-16">
                    Customers may decide to add a tip to their order.
                    If they do, the tip amount will be specified, and you will be
                    able to properly assign those tips to your delivery personel.
                    Our platform fee does not affect tips.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h6>3. Platform fee</h6>
            </div>
            <div class="card-body">
                <p class="font-16">
                    We do not charge a subscription fee or run ads. But we collect
                    a 10% fee per transaction made on the platform. This fee is
                    applied to the order subtotal, including any potential tax,
                    but does not include tips.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 15px;">
    <div class="col-md-12"><h5>Inventory</h5></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h6>1. Available amount</h6>
            </div>
            <div class="card-body">
                <p class="font-16">
                    When adding items to your inventory, you must specify how many units
                    you have in stock. That way, we will be able to automatically
                    update the unit count everytime an order is processed. You will
                    be notified if an item is running low.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h6>2. Expiry</h6>
            </div>
            <div class="card-body">
                <p class="font-16">
                    When adding items to your inventory, you must also specify when
                    the item will expire. That way, we will be able to automatically notify
                    you if and when items will expire. Early notifications will be sent
                    for items expiring in less than 6 months.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h6>3. In-store sales</h6>
            </div>
            <div class="card-body">
                <p class="font-16">
                    Since you also sell items in-store, we are not able to keep track
                    of the units that are sold in person. To get around that, we recommend
                    updating your inventory count for a particular item, for every in-person sale made. 
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card" style="margin-top: 15px;">
            <div class="card-body">
                <h5 align="center">Still have more questions?</h5>
                <hr style="width: 25%; text-align: center;">
                <%= render 'help_tickets/form' %>
            </div>
        </div>
    </div>
</div>