<style>
    #main-search, #newsletterForm {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-right: none;
    }
    .append-group {
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }
    #main-search, .append-group, #newsletterForm {
        height: 50px;
    }
    .main-nav {
        background: transparent !important;
        box-shadow: none !important;
    }
    .pharmacy-login {
        color: #fff !important;
    }
    
</style>

<section id="homePageBanner" style="height: 650px; margin-top: -200px; background-image: url('/images/principal_banner_done.jpg'); background-size: cover;">
</section>
<section id="searchBox" style="margin-top: -450px;">
    <div class="container">
        <div class="row" style="margin-top: 75px;">
            <div class="col-md-8 offset-md-2 ipad ipod">
                <div class="card box-shadow" id="searchBoxCard">
                    <div class="card-body text-center-ipad" style="padding-bottom: 40px;">
                        <div class="row">
                            <div class="col-md-8 offset-md-2" style="margin-bottom: 15px;">
                                <h1 class="text-center bold white" id="searchBoxCardBannerText">OTC meds, delivered to you, for free</h1>
                            </div>
                        </div>
                        <div class="row text-center-ipad">
                            <div class="col-md-8 offset-md-2">
                                <form action="/search" method="get" id="pharmacySearchForm">
                                    <div class="input-group mb-3">
                                        <input class="form-control font-16 no-box-shadow main-search border-white" style="margin-top: 0 !important;"
                                            id="main-search" name="q" placeholder="Search a location or store name">
                                        <div class="input-group-prepend">
                                            <button class="input-group-text append-group cursor-pointer" id="basic-addon1">
                                                <i class="fa fa-search fa-search-mobile-home theme-blue"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary height-50 box-shadow btn-block" align="center" type="submit" id="submitLocationSearch" style="display: none; margin-bottom: 10px;">
                                        Search
                                    </button>
                                </form>
                                <button class="btn btn-info height-50 box-shadow btn-block" align="center" id="getMyLocation" onclick="getLocation(this)">
                                    <i class="fa fa-map-marker"></i> Use your current location instead
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="theWhy" class="add-padding-bottom" style="padding-top: 150px; padding-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4" style="padding-bottom: 30px;">
                <h4 align="center">Why order on RxCarriers?</h4>
                <hr style="height: 3px; background-color: #4095e3; border-color: #4095e3; width: 30%;">
            </div>
            <div class="col-md-12">
                <div class="row no-mobile-padding">
                    <div class="col-md-3 text-center mbm">
                        <div class="card box-shadow-amp" style="height: 100%;">
                            <div class="card-body">
                                <i class="fa fa-file-text-o theme-green" style="font-size: 60px;"></i>
                                <p class="text-center font-18 bold" style="margin-top: 30px;">
                                    Browse 1000s of items
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center mbm">
                        <div class="card box-shadow-amp" style="height: 100%;">
                            <div class="card-body">
                                <i class="fa fa-hourglass-half theme-yellow" style="font-size: 60px;"></i>
                                <p class="text-center font-18 bold" style="margin-top: 30px;">
                                    Avoid long lines
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center mbm">
                        <div class="card box-shadow-amp" style="height: 100%;">
                            <div class="card-body">
                                <i class="fa fa-bed theme-blue" style="font-size: 60px;"></i>
                                <p class="text-center font-18 bold" style="margin-top: 30px;">
                                    Order from your bed
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center mbm">
                        <div class="card box-shadow-amp" style="height: 100%;">
                            <div class="card-body">
                                <i class="fa fa-bicycle theme-purple" style="font-size: 60px;"></i>
                                <p class="text-center font-18 bold" style="margin-top: 30px;">
                                    Get free deliveries
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="getNewsletter" class="background-gray" style="padding: 50px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center" style="padding-bottom: 20px;">
                <h3 class="" style="font-size: 24px;">
                    Refer a friend and get $5 towards your next order
                </h3>
                <hr style="height: 3px; background-color: #4095e3; border-color: #4095e3; width: 50%;">
            </div>
            <div class="col-md-4 offset-md-4 text-center" style="padding-bottom: 20px;">
                <button class="btn btn-primary box-shadow" data-toggle="modal" data-target="#referral">
                    <span class="font-20">Claim your free $5</span>
                </button>
                <p class="font-14" style="margin-bottom: 0; margin-top: 20px;">Terms and conditions apply
            </div>
        </div>
    </div>
</section>

<section id="forPharmacies" style="padding-top: 20px; padding-bottom: 30px; margin-bottom: 0;background-image: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%); background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center" style="padding-bottom: 20px;">
                <h4 class="white">
                    For businesses (selling OTCs)
                </h4>
                <hr style="height: 3px; background-color: #4095e3; border-color: #4095e3; width: 50%;">
            </div>
        </div>
        <div class="row" style="height: 100%;">
            <div class="col-md-3 text-center mbm">
                <div class="card box-shadow-amp" style="height: 100%;">
                    <div class="card-body">
                        <i class="fa fa-desktop theme-yellow" style="font-size: 60px;"></i>
                        <p class="text-center font-18 bold" style="margin-top: 30px;">
                            Inventory management
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center mbm">
                <div class="card box-shadow-amp" style="height: 100%;">
                    <div class="card-body">
                        <i class="fa fa-bar-chart theme-purple" style="font-size: 60px;"></i>
                        <p class="text-center font-18 bold" style="margin-top: 30px;">
                            Analytics & insights
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center mbm">
                <div class="card box-shadow-amp" style="height: 100%;">
                    <div class="card-body">
                        <i class="fa fa-spinner theme-blue" style="font-size: 60px;"></i>
                        <p class="text-center font-18 bold" style="margin-top: 30px;">
                            Real-time order requests
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center mbm">
                <div class="card box-shadow-amp" style="height: 100%;">
                    <div class="card-body">
                        <i class="fa fa-cc-visa theme-green" style="font-size: 60px;"></i>
                        <p class="text-center font-18 bold" style="margin-top: 30px;">
                            Automated & cashless
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-3 text-center" style="padding-top: 50px;">
                <!--<h3 class="white" style="font-size: 30px;">Ready to improve your business?</h3>-->
                <a class="btn btn-primary box-shadow btn-md white" style="border-width: 2.5px; margin-top: 30px;" href="https://calendly.com/rxcarriers" target="_blank">
                    <span class="font-20">Schedule a FREE demo today!</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="servicePricing" style="padding: 50px 0;">
    <div class="container">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-6 offset-md-3 text-center">
                <h4>Simple & transparent pricing</h4>
                <hr style="height: 3px; background-color: #4095e3; border-color: #4095e3; width: 30%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card box-shadow-amp">
                    <div class="card-header background-transparent text-center" style="padding-top: 20px; padding-bottom: 20px;">
                        <h4>Pay per order placed</h4>
                    </div>
                    <div class="card-body text-center">
                        <h1 style="font-size: 60px;" class="bold">11%</h1>
                        <h5 style="color: #979fb2;">per order</h5>
                        <div style="padding: 25px 50px;" class="text-left">
                            <p class="font-20" style="color: #636f8b; line-height: 30px;">
                                <i class="fa fa-asterisk theme-green"></i>
                                No setup, signup, monthly, or hidden fees
                            </p>
                            <p class="font-20" style="color: #636f8b; line-height: 30px;">
                                <i class="fa fa-asterisk theme-green"></i>
                                Pay only when a customer places an order
                            </p>
                            <p class="font-20" style="color: #636f8b; line-height: 30px;">
                                <i class="fa fa-asterisk theme-green"></i>
                                Real-time payment monitoring
                            </p>
                        </div>
                    </div>
                    <div class="card-footer text-center pricing-card-bottom" style="padding: 0;">
                        <a href="/register-a-pharmacy" class="background-transparent no-underline">
                            <p class="font-20 no-margin-bottom bold" style="color: #525f7f; padding-top: 25px; padding-bottom: 25px;">Start your free 30-day trial
                                <i class="fa fa-long-arrow-right"></i>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="comingIntegrations" style="padding: 50px 0; background-image: url('/images/gradient_background_blue.jpg')">
    <div class="container">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-6 offset-md-3 text-center">
                <h4 class="white">Future integrations (post-beta)</h4>
                <hr style="height: 3px; background-color: #4095e3; border-color: #4095e3; width: 30%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card box-shadow">
                    <div class="card-body text-center" style="padding-top: 30px; padding-bottom: 30px;">
                        <img class="integration-logo" src="/images/integrations/quickbooks_logo.jpg" height="50">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow">
                    <div class="card-body text-center" style="padding-top: 30px; padding-bottom: 30px;">
                        <img class="integration-logo" src="/images/integrations/google_docs_logo.png" height="50">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow">
                    <div class="card-body text-center" style="padding-top: 30px; padding-bottom: 30px;">
                        <img class="integration-logo" src="/images/integrations/square_logo.png" height="50">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow">
                    <div class="card-body text-center" style="padding-top: 30px; padding-bottom: 30px;">
                        <img class="integration-logo" src="/images/integrations/dropbox_logo.png" height="50">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3 text-center">
                <h4 class="white">+ many more!</h4>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div class="col-md-6 offset-md-3 text-center">
                <h4 class="white">Ready to improve your business?</h4>
                <a class="btn btn-primary box-shadow btn-md white" style="border-width: 2.5px; margin-top: 15px;" href="/register-a-pharmacy">
                    <span class="font-20">Start your FREE 30-day trial</span>
                </a>
            </div>
        </div>
    </div>
</section>

<script>
    var form = document.getElementById('pharmacySearchForm');
    form.addEventListener('submit', function(event) {
        if (document.getElementById('main-search').value == "") {
            event.preventDefault();
            toastr["warning"]("The search field cannot be empty!");
            return;
        }
        $('.append-group').html(`
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw fa-spinner-mobile-home theme-blue"
            style="font-size: 18px;"></i>
        `);
    });
    
    function getLocation(elem) {
        if (navigator.geolocation) {
            $('#'+elem.id).css('opacity', '0.7').html('Getting location...');
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    function showPosition(position) {
        var coords = {"latitude": position.coords.latitude, "longitude": position.coords.longitude};
        $.get('/get_current_position', { coords: coords });
        // document.getElementBy
        // x.innerHTML = "Latitude: " + position.coords.latitude + 
        // "<br>Longitude: " + position.coords.longitude; 
    }
</script>