<style>
    #main-search, #newsletterForm {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: none;
    }
    .append-group {
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }
    #main-search, .append-group, #newsletterForm {
        height: 50px;
    }
</style>

<section id="homePageBanner">
    <div class="jumbotron no-border-radius" style="padding-top: 140px; padding-bottom: 140px; background-image: url('/images/main_banner.jpg'); background-size: cover;">
        <!--<div class="row">-->
        <!--    <div class="col-md-6 offset-md-3 text-center" style="margin-bottom: 30px;">-->
        <!--        <img src="/javascripts/pharmacy.png" style="height: 60px !important;">-->
        <!--    </div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-md-6 offset-md-3" style="margin-bottom: 30px;">
                <h1 class="white text-center bold" style="font-size: 45px">Your meds, delivered to you</h1>
                <p class="white text-center font-18">Free rx deliveries from top independent pharmacies near you!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="/search" method="get" id="pharmacySearchForm">
                    <div class="input-group mb-3">
                        <input class="form-control font-16 no-box-shadow border-white" style="margin-top: 0 !important;" id="main-search" name="location" placeholder="Enter a location or pharmacy name">
                        <div class="input-group-prepend">
                            <span class="input-group-text background-transparent append-group border-white" id="basic-addon1">
                                <i class="fa fa-search white"></i>
                            </span>
                        </div>
                    </div>
                </form>
                <button type="button" style="display: none;">Submit</button>
            </div>
        </div>
    </div>
</section>

<section id="theWhy" class="add-padding-bottom">
    <div class="col-md-2 offset-md-5">
        <h5 align="center" class="bold" style="font-size: 24px;">Why RxCarriers?</h5>
        <hr style="height: 3px; background-color: #4095e3; border-color: #4095e3; width: 50%;">
    </div>
    <div class="col-md-12">
        <div class="row" style="padding: 15px;">
            <div class="col-md-3 text-center mbm">
                <i class="fa fa-hospital-o theme-blue" style="font-size: 60px;"></i>
                <p class="text-center font-18 bold" style="margin-top: 30px;">
                    Top independent pharmacists
                </p>
            </div>
            <div class="col-md-3 text-center mbm">
                <i class="fa fa-handshake-o theme-green" style="font-size: 60px;"></i>
                <p class="text-center font-18 bold" style="margin-top: 30px;">
                    Personalized services
                </p>
            </div>
            <div class="col-md-3 text-center mbm">
                <i class="fa fa-mobile theme-yellow" style="font-size: 60px;"></i>
                <p class="text-center font-18 bold" style="margin-top: 30px;">
                    Online prescription orders
                </p>
            </div>
            <div class="col-md-3 text-center mbm">
                <i class="fa fa-bicycle theme-purple" style="font-size: 60px;"></i>
                <p class="text-center font-18 bold" style="margin-top: 30px;">
                    Free deliveries. Anywhere
                </p>
            </div>
        </div>
    </div>
</section>

<section id="getNewsletter">
    <div class="jumbotron background-gray no-border-radius" style="padding-top: 20px; margin-bottom: 0;">
        <div class="col-md-6 offset-md-3 text-center" style="padding-bottom: 20px;">
            <h3 class="bold" style="font-size: 24px;">
                Pro-health tips delivered to your inbox!
            </h3>
            <hr style="height: 3px; background-color: #4095e3; border-color: #4095e3; width: 50%;">
        </div>
        <div class="col-md-4 offset-md-4 text-center" style="padding-bottom: 20px;">
            <form action="/pharmacy_search" method="get" id="pharmacySearchForm">
                <div class="input-group mb-3">
                    <input class="form-control font-16 no-box-shadow border-white" style="margin-top: 0 !important;" id="newsletterForm" name="newsletter_form" placeholder="Enter your email address">
                    <div class="input-group-prepend">
                        <span class="input-group-text background-transparent append-group border-white" id="basic-addon1">
                            <i class="fa fa-envelope-o"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section id="forPharmacies">
    <div class="jumbotron background-cyan no-border-radius" style="padding-top: 20px; margin-bottom: 0;">
        <div class="col-md-2 offset-md-5 text-center" style="padding-bottom: 20px;">
            <h3 class="white bold" style="font-size: 24px;">
                For pharmacies
            </h3>
            <hr style="height: 3px; background-color: #4095e3; border-color: #4095e3; width: 50%;">
        </div>
        <div class="row">
            <div class="col-md-4 text-center mbm">
                <i class="fa fa-desktop white" style="font-size: 60px;"></i>
                <p class="text-center font-18 bold" style="margin-top: 30px;">
                    Receive delivery orders online
                </p>
            </div>
            <div class="col-md-4 text-center mbm">
                <i class="fa fa-users white" style="font-size: 60px;"></i>
                <p class="text-center font-18 bold" style="margin-top: 30px;">
                    Get access to our 1000s of users
                </p>
            </div>
            <div class="col-md-4 text-center mbm">
                <i class="fa fa-dollar white" style="font-size: 60px;"></i>
                <p class="text-center font-18 bold" style="margin-top: 30px;">
                    Increase your pharmacy's productivity
                </p>
            </div>
        </div>
    </div>
</section>

<script>
    var form = document.getElementById('pharmacySearchForm');
    form.addEventListener('submit', function(event) {
        $('.append-group').html(`
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw white" style="font-size: 18px;"></i>
        `);
    });
</script>