<style>
    #main-body {
        background-color: #fff !important;
    }
    .search-value {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .prepend-box {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .main-nav {
        box-shadow: 0 6px 12px 0 rgba(50,50,70,.08), 0 3px 5px 0 rgba(0,0,0,.05);
    }
</style>

<div class="jumbotron no-border-radius" style="padding-top: 0px; padding-bottom: 0;">
    <div class="container no-mobile-container">
        <div class="col-md-4 no-horizontal-padding" style="padding-top: 30px; padding-bottom: 15px;">
            <form action="/pharmacy_search" method="get" id="pharmacySearchForm">
                <div class="input-group mb-3" style="margin-bottom: 0 !important;">
                  <div class="input-group-prepend">
                    <span class="input-group-text background-transparent prepend-box no-border no-horizontal-padding" id="basic-addon1">
                        <i class="fa fa-search"></i>
                    </span>
                  </div>
                  <input class="form-control font-16 no-box-shadow search-value background-transparent no-border" style="margin-top: 0 !important;" id="new-pharmacy-search"
                        name="new-pharmacy-search" placeholder="Enter an address or a pharmacy name" <% if params[:q] %>value="<%= params[:q] %>"<% end %>>
                </div>
                <button type="submit" style="display: none;">Submit</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12 no-horizontal-padding" style="padding-top: 30px; padding-bottom: 60px;">
        <div id="searchResults">
            <div class="add-padding-bottom"><p class="font-16 bold"><%= pluralize(@pharmacies.size, 'pharmacy') + ' found' unless @pharmacies.empty? %></p></div>
            <div style="display: none; padding: 70px;" id="bulletSpinner"><%= render 'common/bullet_spinner' %></div>
            <div class="row search-results">
                <%= render partial: 'pharmacies', locals: {pharmacies: @pharmacies, invalid: @invalid} %>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <% if @pharmacies.empty? %>
                        <div class="card">
                            <div class="card-body">
                                <i class="fa fa-map-marker theme-blue" style="font-size: 100px; margin-top: 20px; margin-bottom: 30px;"></i>
                                <p class="font-16" style="margin-bottom: 20px;">
                                    Oops, looks like RxCarriers is not yet in your area. But no worries, we'll be there very soon!
                                </p>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var form = document.getElementById('pharmacySearchForm');
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        $('.search-results').remove();
        $('#bulletSpinner').show();
        var q = document.getElementById('new-pharmacy-search').value;
        $.get('/pharmacy_search?q='+q, function(data) {
            $('.pharmacy-card-result').hide();
            $('#bulletSpinner').hide();
            $('#searchResults').html(data);
            $('.pharmacy-card-result').fadeIn();
        });
    });
</script>