<%= form_for(@request_message) do |f| %>
  <% if @request_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request_message.errors.count, "error") %> prohibited this request_message from being saved:</h2>

      <ul>
      <% @request_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
