<a class="dropdown-item item remove_filters" href="/payment-settings">remove filters</a>
<li class="dropdown-divider"></li>
<li class="dropdown-item item-header"><strong>Status</strong></li>
<li class="dropdown-divider"></li>
<a class="dropdown-item item accepted" href="/payment-settings?status=succeeded">paid</a>
<a class="dropdown-item item failed" href="/payment-settings?status=failed">refunded</a>
<li class="dropdown-divider"></li>
<li class="dropdown-item item-header"><strong>Amount</strong></li>
<li class="dropdown-divider"></li>
<a class="dropdown-item item" href="/payment-settings?amount=asc">low to high</a>
<a class="dropdown-item item" href="/payment-settings?amount=desc">high to low</a>
<li class="dropdown-divider"></li>
<li class="dropdown-item item-header"><strong>Date</strong></li>
<li class="dropdown-divider"></li>
<a class="dropdown-item item" href="/payment-settings?date=asc">oldest to newest</a>
<a class="dropdown-item item" href="/payment-settings?date=desc">newest to oldest</a>