<li class="dropdown-item item-header"><strong>Status</strong></li>
<li class="dropdown-divider"></li>
<a class="dropdown-item item pending" href="/payment-history?status=pending">pending</a>
<a class="dropdown-item item accepted" href="/payment-history?status=succeeded">accepted</a>
<a class="dropdown-item item failed" href="/payment-history?status=failed">failed</a>
<li class="dropdown-divider"></li>
<li class="dropdown-item item-header"><strong>Amount</strong></li>
<li class="dropdown-divider"></li>
<a class="dropdown-item item" href="/payment-history?amount=asc">low to high</a>
<a class="dropdown-item item" href="/payment-history?amount=desc">high to low</a>
<li class="dropdown-divider"></li>
<li class="dropdown-item item-header"><strong>Date</strong></li>
<li class="dropdown-divider"></li>
<a class="dropdown-item item" href="/payment-history?date=asc">oldest to newest</a>
<a class="dropdown-item item" href="/payment-history?date=desc">newest to oldest</a>