<div class="col-md-6 offset-md-3 text-center" style="padding: 15px 0;">
    <i class="fa fa-credit-card" style="font-size: 40px;"></i>
    <h6 style="margin-top: 10px;">You have no earnings yet</h6>
</div>