<style>
    .disabled {
        color: #e1e1e2 !important;
    }
    .transaction-buttons {
        font-size: 12px;
        padding: 5px;
    }
    .ellipsis {
        background-color: transparent;
    }
    .ellipsis:hover {
        background-color: transparent;
        border: 1px solid #e1e1e2;
        border-radius: 2px;
        padding-right: 4px;
        padding-left: 4px;
        cursor: pointer;
    }
    .table-header {
        border-top: 1px solid #e1e1e2;
        border-bottom: 1px solid #e1e1e2;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #fafbfc;
        color: #707071;
        font-size: 15px;
        font-weight: 900;
    }
    #placeholder {
        /*opacity: 0.5;*/
    }
    .credit-card {
        font-size: 40px;
    }
    #loadText {
        padding-top: 5px;
    }
    .show-charge-link {
        cursor: pointer;
    }
    .table-content {
        /*font-size: 14px !important;*/
    }
    #charge {
        border-bottom: 1px solid #e1e1e2;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 13px;
        font-weight: 500;
        color: #707071;
    }
    #placeholder, #placeholder-fail, #all-charges, .spinner-row, #loadText {
        display: none;
    }
    .dropdown-menu {
        left: auto;
        right: 0;
    }
</style>

<%= render 'common/spinner' %>
<div id="main">
    <div class="card add-margin-bottom">
        <div class="card-body">
            <header class="top-panel row">
                <div class="col-md-1 top-panel-div">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle font-14" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <%= render 'dropdown' %>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>     
    <section id="placeholder" class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h6>
                            You will be redirected to Stripe's platform, then automatically redirected back here after setting up your account.
                        </h6>
                        <button class="btn btn-primary height-50 box-shadow font-16" onclick="window.location.replace('https://stripe.com')">
                            <i class="fa fa-cc-stripe"></i> Set up your Stripe account
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
            
    <section id="placeholder-fail" class="row">
        <div class="card">
            <div class="card-body">
                <div class="col-md-6 offset-md-3 text-center">
                    <i class="fa fa-frown"></i>
                    <h6>This page could not be loaded</h6>
                    <a class="btn btn-primary reload-button" href=""><i class="fa fa-sync"></i> Reload</a>
                </div>
            </div>
        </div>
    </section>
    <section id="all-charges" class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header background-cyan font-14 white">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-1 ">
                            <span>Amount</span>
                        </div>
                        <div class="col-md-1">
                            <span></span>
                        </div>
                        <div class="col-md-4">
                            <span>Description</span>
                        </div>
                        <div class="col-md-3">
                            <span>Date</span>
                        </div>
                        <div class="col-md-1">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="invoices">
                        <%= render invoice_sort %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section id="loadText" class="row">
    <div class="col-md-12">
        <h6 class="font-13 medium-gray text-center">Fetching...</h6>
    </div>
</section>

<script>
    $('.spinner-row').show();
    var charge = document.getElementById("charge")
    if (charge) {
        $('.spinner-row').hide();
        $('#all-charges').show();
    } else {
        $('.spinner-row').hide();
        $('#placeholder').show();
    };
    
    $('.show-charge-link').on('click', function() {
        $('#main').hide();
        $('.spinner-row').show();
        $('#loadText').show();
    });
    
    $('.item').on('click', function() {
        $('#main').hide();
        $('.spinner-row').show();
    });
</script>