<% all_orders.each do |ord| %>
    <div class="col-md-4">
        <div class="card box-shadow">
            <div class="card-header theme-background">
                <span class="font-16"><%= ord.confirmation %></span>
            </div>
            <div class="card-body">
                <% ord.item_list_array.each_with_index do |i, idx| %>
                    <div class="float-right theme-green">
                        <%= ord.item_list_count_array[idx] %>
                    </div>
                    <div class="float-right">
                        <%= ord.get_item(i).shorten_name %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>