<div class="row">
    <div class="col-md-12 text-center" style="padding-top: 40px;">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw theme-blue"></i>
    </div>
    <div class="col-md-12 text-center medium-gray font-14" style="padding-top: 20px;">
        Waiting for requests...
    </div>
</div>