<div class="col-md-8 offset-md-2 add-padding-top subscription-info" style="padding-bottom: 20px;">
    <div class="float-left" style="width: 47.5%;">
        <div class="card">
            <div class="card-header background-blue white font-16 text-center">
                Beginner**
            </div>
            <div class="card-body background-dark font-24 white text-center" style="padding: 40px;">
                <b>$59.99</b> </span class="font-14">/month</span>
                <!--<span class="font-16 text-center">-->
                <!--    + <b>$0.05</b> per text message-->
                <!--</span>-->
            </div>
            <div class="card-footer font-14 text-center" style="padding-bottom: 20px;">
                <div>
                    <h5 class="weighted font-14"><i class="fa fa-check theme-green"></i> Search page visibility</h5>
                    <h5 class="weighted font-14"><i class="fa fa-check theme-green"></i> Unlimited notifications</h5>
                    <h5 class="weighted font-14"><i class="fa fa-check theme-green"></i> 1000 message limit</h5>
                    <h5 class="weighted font-14"><i class="fa fa-times theme-red"></i> Weekly stats report</h5>
                </div>
                <div class="add-padding-top">
                    <button class="btn btn-primary btn-block" id="beginnerPlan" onclick="goToPayment(this)">
                        Select
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="float-left" style="width: 5%;"></div>
    <div class="float-right" style="width: 47.5%;">
        <div class="card">
            <div class="card-header background-blue white font-16 text-center">
                Pro**
            </div>
            <div class="card-body background-dark font-24 white text-center" style="padding: 40px;">
                <b>$79.99</b> </span class="font-14">/month</span>
                <!--<span class="font-16 text-center">-->
                <!--    + <b>free</b> unlimited text messages-->
                <!--</span>-->
            </div>
            <div class="card-footer font-14 text-center" style="padding-bottom: 20px;">
                <div>
                    <h5 class="weighted font-14"><i class="fa fa-check theme-green"></i> Sponsored search page visibility</h5>
                    <h5 class="weighted font-14"><i class="fa fa-check theme-green"></i> Unlimited notifications</h5>
                    <h5 class="weighted font-14"><i class="fa fa-check theme-green"></i> Unlimited text messages</h5>
                    <h5 class="weighted font-14"><i class="fa fa-check theme-green"></i> Weekly stats report</h5>
                </div>
                <div class="add-padding-top">
                    <button class="btn btn-primary btn-block" id="proPlan" onclick="goToPayment(this)">
                        Select
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>