<% if @rx.nil? %>
    <div style="padding: 10px;" class="text-center col-md-12">
        <div>
            <i class="fa fa-exclamation-circle theme-yellow" style="font-size: 40px;"></i>
        </div>
        <div class="add-padding-top font-18">
            Rx Not Found <br /><br />
            <span class="font-14 theme-blue">
                We were unable to find your rx number. We recommend contacting your
                pharmacy.
            </span>
        </div>
    </div>
<% elsif @rx.filled %>
    <div style="padding: 10px;" class="text-center col-md-12">
        <div>
            <i class="fa fa-check-circle theme-green" style="font-size: 40px;"></i>
        </div>
        <div class="add-padding-top-10 font-18">
            Your prescription is ready!<br /><br />
            <button class="btn btn-success font-16 white transaction-buttons" id="<%= @rx.id %>" rx="<%= @rx.rx %>" onclick="requestDelivery(this)">
                <i class="fa fa-car"></i> Request a delivery
            </button>
        </div>
    </div>
<% elsif @rx.not_ready %>
    <div class="text-center col-md-12">
        <div>
            <i class="fa fa-clock-o theme-blue" style="font-size: 40px;"></i>
        </div>
        <div class="font-14">
            Your prescription is not ready yet. Please provide your phone number and we will alert you when it is<br />
            <!--<input type="text" class="form-control delivery-address" id="rx-address" placeholder="Delivery address">-->
            <input type="text" class="form-control delivery-phone" id="rx-phone" placeholder="Phone number">
            <button class="btn btn-light btn-block font-16 white transaction-buttons add-margin-top" id="<%= @rx.rx %>" onclick="updatePhoneNumber(this)">
                <i class="fa fa-refresh"></i> Request refill
            </button>
        </div>
    </div>
<% elsif @rx.issue_present %>
    <div style="padding: 10px;" class="text-center col-md-12">
        <div>
            <i class="fa fa-times-circle theme-red" style="font-size: 40px;"></i>
        </div>
        <div class="add-padding-top font-18">
            Our records show that there is an issue with your Rx<br /><br />
            <span class="font-14 theme-yellow bold">
                Contact your pharmacist right away.
            </span>
        </div>
    </div>
<% elsif @rx.delivery_sent %>
    <div style="padding: 10px;" class="text-center col-md-12">
        <div>
            <i class="fa fa-car theme-blue" style="font-size: 40px;"></i>
        </div>
        <div class="add-padding-top font-18">
            Your prescription is on its way!<br /><br />
            <span class="font-14 theme-yellow bold">
                A courier should arrive within the next hour. Please make sure
                that someone is available to sign the delivery.
            </span>
        </div>
    </div>
<% end %>