<div class="text-center col-md-12">
    <div>
        <i class="fa fa-check-circle theme-blue" style="font-size: 40px;"></i>
    </div>
    <div class="font-14">
        Thank you!<br />
        Be on the lookout for a text message regarding the status of your prescription.
    </div>
</div>