<li class="dropdown-item item-header"><strong>Status</strong></li>
<li class="dropdown-divider"></li>
<a class="dropdown-item item" href="/requests?status=pending">pending</a>
<a class="dropdown-item item" href="/requests?status=accepted">accepted</a>
<a class="dropdown-item item" href="/requests?status=completed">completed</a>
<li class="dropdown-divider"></li>
<li class="dropdown-item item-header"><strong>Driver</strong></li>
<li class="dropdown-divider"></li>
<a class="dropdown-item item" href="/requests?driver=nameasc">a - z</a>
<a class="dropdown-item item" href="/requests?driver=namedesc">z - a</a>
<li class="dropdown-divider"></li>
<li class="dropdown-item item-header"><strong>Date Created</strong></li>
<li class="dropdown-divider"></li>
<a class="dropdown-item item" href="/requests?date=asc">oldest to newest</a>
<a class="dropdown-item item" href="/requests?date=desc">newest to oldest</a>