<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @pharmacy.name %></h1>
    <p>
      We were unable to charge your credit/debit card for your monthly subscription.
      Please update or replace your credit card on file at <%= @url_ %>.
    </p>
    <p>
      If you have any questions, please email </b>hello@rxcarriers.com</b> or visit <%= @url %>.
    </p>
    <p>Best,<br /><br />Dem<br />Founder</p>
  </body>
</html>