<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to RxCarriers, <%= @pharmacy.name %></h1>
    <p>
      You are currently on a trial account for 7 days, after which your
      credit card on file will be charged for $<%= @plan.price %>.
    </p>
    <p>
      If you have enough questions, please reach out to </b>hello@rxcarriers.com</b>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>