<section style="border: 1px solid #b4b4b4; font-family: 'Roboto', sans-serif;">
    <div id="emailHeader" style="padding: 2px; background-image: url('/images/gradient_background.jpg'); background-size: cover; margin-bottom: 20px;">
        <h1 style="color: #fff; text-align: center; font-family: 'Roboto', sans-serif;">
            RxCarriers
        </h1>
    </div>
    <div class="container" style="padding-left: 15px; padding-right: 15px; padding-bottom: 20px;">
        <div class="card" style="padding: 20px; background-color: #f0f0f0; text-align: center; border-radius: 3px;">
            <h3 align="left" style="color: #5a5a5a; margin-bottom: 45px;">We were unable to approve your request at this time</h3>
            
            <p align="left" style="color: #5a5a5a; margin-top: 30px;">
                For more information, please
                <a href="mailto:hello@rxcarriers.com" style="background-color: transparent;" target="_blank">reach out to us</a>.
            </p>
        </div>
    </div>
    <div id="emailFooter" style="padding: 2px; background-image: url('/images/gradient_background.jpg'); background-size: cover;">
        <h6 style="color: #fff; text-align: center; font-family: 'Roboto', sans-serif; -webkit-margin-before: 15px; -webkit-margin-after: 5px;">
            &copy; RxCarriers. All rights reserved
        </h6>
        <h6 style="color: #fff; text-align: center; font-family: 'Roboto', sans-serif; -webkit-margin-before: 0; -webkit-margin-after: 15px;">
            Sent with love, by the RxCarriers team
        </h6>
    </div>
</section>