<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to RxCarriers, <%= @pharmacy.name %></h1>
    <p>
      This email confirms that you have cancelled your RxCarriers monthly subscription.
    </p>
    <p>
      We are sorry to see you go, but f you have any questions, please email </b>hello@rxcarriers.com</b> or visit <%= @url %>.
    </p>
    <p>Best,<br /><br />Dem<br />Founder</p>
  </body>
</html>