<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @pharmacy.name %></h1>
    <p>
      Your account has been charged $<%= @plan.price %>, for your monthly subscription.
      No further action is required on your part.
    </p>
    <p>
      If you have any questions, please email </b>hello@rxcarriers.com</b> or visit <%= @url %>.
    </p>
    <p>Best,<br /><br />Dem<br />Founder</p>
  </body>
</html>