<li class="dropdown-item item-header"><strong>Name</strong></li>
<li class="dropdown-divider"></li>
<a class="dropdown-item item" href="/patients?name=asc">a - z</a>
<a class="dropdown-item item" href="/patients?name=desc">z - a</a>
<li class="dropdown-divider"></li>
<li class="dropdown-item item-header"><strong>Birth Month</strong></li>
<li class="dropdown-divider"></li>
<a class="dropdown-item item" href="/patients?month=january">January</a>
<a class="dropdown-item item" href="/patients?month=february">February</a>
<a class="dropdown-item item" href="/patients?month=march">March</a>
<a class="dropdown-item item" href="/patients?month=april">April</a>
<a class="dropdown-item item" href="/patients?month=may">May</a>
<a class="dropdown-item item" href="/patients?month=june">June</a>
<a class="dropdown-item item" href="/patients?month=july">July</a>
<a class="dropdown-item item" href="/patients?month=august">August</a>
<a class="dropdown-item item" href="/patients?month=september">September</a>
<a class="dropdown-item item" href="/patients?month=october">October</a>
<a class="dropdown-item item" href="/patients?month=november">November</a>
<a class="dropdown-item item" href="/patients?month=december">December</a>