<div class="list-group-item list-group-item-action no-border-radius border-gray">
    <div class="row">
        <div class="col-md-12">
            <h5 class="font-14 text-center">No results found for this query</h5>
        </div>
    </div>
</div>