<div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active">
        <div class="col-md-3">
            <%= patient.name %>
        </div>
        <div class="col-md-3">
            <%= patient.address %>
        </div>
        <div class="col-md-3">
            <%= patient.phone %>
        </div>
    </button>
</div>