<div class="new-patient-form">
    <div class="card">
      <div class="card-body">
        <div class="col-md-12"><h3 class="theme-blue">New Patient</h3></div>
        <div class="col-md-12"><%= render 'form' %></div>
      </div>
    </div>
</div>