<li class="dropdown-item item-header">Date Created</li>
<li class="dropdown-divider"></li>
<%= link_to 'Oldest to Newest', order_asc_path, class:"dropdown-item item", remote: :true %>
<%= link_to 'Newest to Oldest', order_desc_path, class:"dropdown-item item", remote: :true %>