<li class="dropdown-item item-header"><strong>Status</strong></li>
<li class="dropdown-divider"></li>
<a class="dropdown-item item" href="/batches/pending">pending</a>
<a class="dropdown-item item" href="/batches/accepted">accepted</a>
<a class="dropdown-item item" href="/batches/completed">completed</a>
<li class="dropdown-divider"></li>
<li class="dropdown-item item-header"><strong>Pharmacist</strong></li>
<li class="dropdown-divider"></li>
<a class="dropdown-item item" href="/batches/pharmacist?order=az">a - z</a>
<a class="dropdown-item item" href="/batches/pharmacist?order=za">z - a</a>
<li class="dropdown-divider"></li>
<li class="dropdown-item item-header"><strong>Date Created</strong></li>
<li class="dropdown-divider"></li>
<a class="dropdown-item item" href="/batches?order=timeasc">oldest to newest</a>
<a class="dropdown-item item" href="/batches?order=timedesc">newest to oldest</a>