<div class="patient-form" id="">
    <div class="col-md-12">
        <form id="addPatient" action="/create_deliveries" method="get">
            <div class="row add-padding-top">
                <input type="text" class="form-control form--control font-14 pf" id="patient-id" name="patient_id" style="display: none;">
                <div class="col-md-7 field" id="patient-full-name-div">
                    <input type="text" class="form-control form--control font-14 pf" id="patient-full-name" name="patient-name" placeholder=" ">
                    <label for="patient-full-name">Patient Name</label>
                </div>
                <div class="col-md-3 field">
                    <input type="text" class="form-control form--control font-14 pf" id="patient-number" name="patient-number" placeholder=" ">
                    <label for="patient-number">Phone</label>
                </div>
                <div class="col-md-2 field">
                    <input type="text" class="form-control form--control font-14 pf" id="patient-copay" name="patient-copay" placeholder=" ">
                    <label for="patient-copay">Copay</label>
                </div>
            </div>
            <div class="row add-padding-top">
                <div class="col-md-12 field">
                    <input type="text" class="form-control form--control font-14 pf" id="patient-address" name="patient-address" placeholder=" ">
                    <label for="patient-address">Patient Address</label>
                </div>
            </div>
            <div class="row add-padding-top">
                <div class="col-md-9 field">
                    <input type="text" class="form-control form--control font-14 pf" id="patient-medications" name="patient-address" placeholder=" ">
                    <label for="patient-medications">Medications for delivery (separated by commas)</label>
                </div>
                <div class="col-md-3 field">
                    <input type="text" class="form-control form--control font-14 pf" id="delivery-time" name="delivery-time" placeholder=" ">
                    <label for="delivery-time">Preferred Time</label>
                </div>
            </div>
            <div class="row add-padding-top">
                <div class="text-right col-md-12">
                    <button class="btn btn-primary white cursor-pointer transaction-buttons add-delivery"><i class="fa fa-plus-circle"></i> Add Prescription</button>
                </div>
            </div>
        </form>
    </div>
    <div id="" class="col-md-12 remove-patient"></div>
</div>