<style>
    #landing-full-screen {
        height: auto;
        background-color: #3484c6;
    }
    #landing-full-screen-content {
        padding-top: 20px;
    }
</style>
<div id="landing-full-screen">
    <div id="landing-full-screen-content" class="open-sans row">
        <div class="text-center col-md-4 offset-md-4">
            <h3 class="white text-center open-sans">Delivery Logistics Simplified</h3>
            <div class="add-padding-top">
                <a class="btn btn-secondary background-transparent white border-white no-box-shadow thick-border" href="/pharmacy/signup">
                   Get Started Now
                </a>
            </div>
        </div>
        <div class="container">
                <div class="row add-padding-top">
                    <div class="col-md-4">
                        <div class="card thick-border border-white">
                            <div class="card-header background-transparent font-18 text-center theme-blue border-white">
                                Fast
                            </div>
                            <div class="card-body" style="height: 80px !important;">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card thick-border border-white">
                            <div class="card-header background-transparent font-18 text-center theme-blue border-white">
                                Reliable
                            </div>
                            <div class="card-body" style="height: 80px !important;">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card thick-border border-white">
                            <div class="card-header background-transparent font-18 text-center theme-blue border-white">
                                Convenient
                            </div>
                            <div class="card-body" style="height: 80px !important;">
                                
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>