<div id="batchRequestDetails">
    <h6 class="font-14">
        <span class="weighted">Estimated Mileage</span><br />
        <span id="requestMileage"><%= @batch.request_mileage %></span>
    </h6>
    <h6 class="font-14 details-heading">
        <span class="weighted">Estimated Fare</span><br />
        <span id="requestCost"><%= @batch.request_cost %></span>
    </h6>
    <h6 class="font-14 details-heading">
        <span class="weighted">Estimated Duration</span><br />
        <span id="requestDuration"><%= @batch.delivery_duration %></span>
    </h6>
</div>