<body>
    <div class="support-body">
        <div class="row">
            <div class="col-md-9">
                <section class="faq">
                    <header class="faq-header"><h5 class="font-14">Frequently Asked Question<h5 class="font-14"></header>
                    <article class="questions">
                        <div class="card">
                            <div class="card-body">
                                <a class="faq-line theme-blue background-transparent" href="#"><h5 class="font-14">This is the first frequently asked question?</h5></a>
                                <a class="faq-line theme-blue background-transparent" href="#"><h5 class="font-14">This is the second frequently asked question?</h5></a>
                                <a class="faq-line theme-blue background-transparent" href="#"><h5 class="font-14">This is the third frequently asked question?</h5></a>
                                <a class="faq-line theme-blue background-transparent" href="#"><h5 class="font-14">This is the fourth frequently asked question?</h5></a>
                                <a class="faq-line theme-blue background-transparent" href="#"><h5 class="font-14">This is the fifth frequently asked question?</h5></a>
                                <a class="faq-line theme-blue background-transparent" href="#"><h5 class="font-14">This is the sixth frequently asked question?</h5></a>
                                <a class="faq-line theme-blue background-transparent" href="#"><h5 class="font-14">This is the seventh frequently asked question?</h5></a>
                                <a class="faq-line theme-blue background-transparent" href="#"><h5 class="font-14">This is the eight frequently asked question?</h5></a>
                                <a class="faq-line theme-blue background-transparent" href="#"><h5 class="font-14">This is the ninth frequently asked question?</h5></a>
                            </div>
                        </div>
                    <article>
                </section>
                <section class="question">
                    <div class="card">
                        <div class="card-body">
                            <%= render 'form' %>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>