<style>
    .support-body {
        padding: 0 !important;
    }
    .main-pages {
        padding-left: 0 !important;
        background: #fff;
        height: 100% !important;
    }
    .support-nav-links {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .support-nav-links:hover {
        color: #4095e3;
        background: #fff;
    }
</style>
<body>
    <div class="support-body">
        <div class="col-md-1 support-nav">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link support-nav-links active no-border-radius" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Batches</a>
                <a class="nav-link support-nav-links no-border-radius" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Requests</a>
                <a class="nav-link support-nav-links no-border-radius" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Patients</a>
                <a class="nav-link support-nav-links no-border-radius" id="v-pills-billing-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-billing" aria-selected="false">Billing</a>
                <a class="nav-link support-nav-links no-border-radius" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Contact Us</a>
            </div>
        </div>
        <section class="col-md-10 support-nav-content">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active tab-show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
                <div class="tab-pane fade tab-show" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
                <div class="tab-pane fade tab-show" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                <div class="tab-pane fade tab-show" id="v-pills-billing" role="tabpanel" aria-labelledby="v-pills-billing-tab">...</div>
                <div class="tab-pane fade tab-show" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <div class="contact">
                        <header class="col-md-9 contact-us-header text-center">
                            <h3 class="white middle"><strong>How can we help you today?</strong></h3>
                        </header>
                        <div class="row">
                            <article class="col-md-9">
                                <%= render 'form' %>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--<div class="col-md-10 support-nav-content">-->
        <!--    <div class="placeholder">-->
        <!--        <section class="faq">-->
        <!--            <header class="faq-header"><h5 class="font-14">Frequently Asked Question<h5 class="font-14"></header>-->
        <!--            <article class="questions">-->
        <!--                <div class="card">-->
        <!--                    <div class="card-body">-->
        <!--                        <a class="faq-line theme-blue background-transparent" href="#"><h5 class="font-14">This is the first frequently asked question?</h5></a>-->
        <!--                        <a class="faq-line theme-blue background-transparent" href="#"><h5 class="font-14">This is the second frequently asked question?</h5></a>-->
        <!--                        <a class="faq-line theme-blue background-transparent" href="#"><h5 class="font-14">This is the third frequently asked question?</h5></a>-->
        <!--                        <a class="faq-line theme-blue background-transparent" href="#"><h5 class="font-14">This is the fourth frequently asked question?</h5></a>-->
        <!--                        <a class="faq-line theme-blue background-transparent" href="#"><h5 class="font-14">This is the fifth frequently asked question?</h5></a>-->
        <!--                        <a class="faq-line theme-blue background-transparent" href="#"><h5 class="font-14">This is the sixth frequently asked question?</h5></a>-->
        <!--                        <a class="faq-line theme-blue background-transparent" href="#"><h5 class="font-14">This is the seventh frequently asked question?</h5></a>-->
        <!--                        <a class="faq-line theme-blue background-transparent" href="#"><h5 class="font-14">This is the eight frequently asked question?</h5></a>-->
        <!--                        <a class="faq-line theme-blue background-transparent" href="#"><h5 class="font-14">This is the ninth frequently asked question?</h5></a>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            <article>-->
        <!--        </section>-->
        <!--        <section class="question">-->
        <!--            <div class="card">-->
        <!--                <div class="card-body">-->
        <!--                    <%= render 'form' %>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </section>-->
        <!--    </div>-->
        <!--</div>-->
    </div>
</body>