<style>
    .welcome-driver {
        padding-top: 30px;
    }
    .card-body-0 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .card-0 {
        background-color: #01665d;
        background-image: url("clockin.png");
        filter: alpha(opacity=60);
    }
    header {
        padding-bottom: 15px;
    }
    .important-notice {
        padding-top: 15px;
    }
    .col-md-4 {
        padding-bottom: 15px;
    }
</style>

<body>
    <div class="welcome-driver">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <header class="welcome-header">
                    <div class="card welcomeheader-card">
                        <div class="card-body">
                            <h3 class="white"><strong>Welcome to Darlyne!</strong></h3>
                        </div>
                    </div>
                    <section class="important-notice">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <h6 class="font-14">
                                <i class="fa fa-exclamation-circle"></i>
                                [IMPORTANT]: Be sure to familiarize yourself with the driving policy. Particularly the 
                                legal, professional and ethical information.
                            </h6>
                        </div>
                    </section>
                </header>
                <section class="row welcome-cards">
                    <div class="col-md-12">
                        <h5>Quick Guides</h5>
                    </div>
                    <% @steps.each do |s| %>
                        <div class="col-md-4">
                            <a href="/process/steps/<%= s.id %>" class="no-underline theme-blue">
                                <div class="card card-0">
                                    <div class="card-body card-body-0 text-center">
                                        <h6 class="white"><%= s.title %></h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% end %>
                </section>
            </div>
        </div>
    </div>
</body>