<style>
    .settings-landing {
        padding-top: 30px;
    }
    header {
        padding-bottom: 20px;
    }
    article {
        padding-bottom: 20px;
    }
    form {
        padding-bottom: 20px;
    }
</style>

<body>
    <div class="settings-landing">
        <section class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <header class="card-header">
                            <h3 class="theme-blue text-center">
                                Welcome to Darlyne!
                            </h3>
                        </header>
                        <article class="card-body-content">
                            <h5 class="theme-black text-center">
                                We're glad to have you on board. Before proceeding, take some time to 
                                complete your profile.
                            </h5>
                        </article>
                        <form class="text-center">
                            <%= link_to complete_profile_path, class:'btn btn-light white' do %>
                                <i class="fa fa-pencil-square-o"></i> Complete My Profile
                            <% end %>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>