<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
    <a class="background-transparent text-center no-underline" href="/"><h3 class="logo text-center">Darlyne Logistics</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to destroy_driver_session_path, class:"btn btn-light white", method: :delete do %>
            <i class="fa fa-logout"></i> Logout
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</body>