<div class="row" id="bankForm" style="display: none;">
  <div class="col-md-12" id="driverCareDetailsHeader">
      <div class="weighted font-18 float-left add-padding-top" id="carDetailsHeader">Bank Details</div>
      <div class="float-left add-padding-top add-padding-left-60" id="updateAlertBank" style="display: none;">
        <div class="font-14 weighted green" role="alert" id="updateAlertMessageBank"></div>
      </div>
      <div class="weighted float-right add-padding-top-10" id="editDriverBankDiv">
        <button class="btn btn-info transaction-buttons" id="editDriverBank">
          <i class="fa fa-check-circle" id="saveBankLoader"></i> Save Details
        </button>
      </div>
  </div>
  <div class="col-md-12"><hr></div>
  <div class="col-md-12 field">
      <input type="text" class="form-control form--control font-14 pf" id="bank-account" name="bank-account" placeholder=" ">
      <label for="bank-account">Account Number</label>
  </div>
  <div class="col-md-12 field">
      <input type="text" class="form-control form--control font-14 pf" id="bank-routing" name="bank-routing" placeholder=" ">
      <label for="bank-routing">Routing Number</label>
  </div>
  <div class="col-md-12 field">
      <input type="text" class="form-control form--control font-14 pf" id="bank-holder-name" name="bank-holder-name" placeholder=" ">
      <label for="bank-holder-name">Account Holder Name</label>
  </div>
  <div class="col-md-3 field">
      <button class="btn btn-info transaction-buttons" id="cancelEditBank">
        <i class="fa fa-times-circle" id="saveBankLoader"></i> Cancel
      </button>
  </div>
</div>