<div class="row">
    <div class="col-md-12 text-center">
        <h5 class="theme-blue">Congrats! Your account is connected to Stripe and is ready to receive payments.</h5>
        <%= link_to 'Go to earnings', my_earnings_path, class:"btn btn-primary" %>
        <a href="https://dashboard.stripe.com" class="external-stripe-login btn btn-light white" target="_blank">
            Log onto my Stripe account
        </a>
    </div>
</div>