<style>
  .main-nav {
    display: none;
  }
</style>
<body>
    <div class="col-md-2 vertical-panel">
      <div class="profile-details">
        <div class="col-md-12">
          <h4 class="white pharmacy-name"><%= current_driver.first_name %></h4>
          <hr>
        </div>
      </div>
      <div class="nav-links">
        <ul class="nav flex-column">
          <li class="nav-item nav-item-pharmacy-view">
            <a class="nav-link" href="/my-deliveries">Deliveries</a>
          </li>
          <li class="nav-item nav-item-pharmacy-view">
            <a class="nav-link" href="/my-earnings">My Earnings</a>
          </li>
          <li class="nav-item nav-item-pharmacy-view">
            <a class="nav-link" href="/my-earnings">Transactions</a>
          </li>
          <li class="nav-item nav-item-pharmacy-view">
            <a class="nav-link" href="/settings">Settings</a>
          </li>
          <li class="nav-item nav-item-pharmacy-view">
            <a class="nav-link" href="/support">Support</a>
          </li>
        </ul>
      </div>
      <div class="dashboard-control">
        <div class="col-md-12 text-left">
          <%= link_to destroy_driver_session_path, class:"black pharmacy-logout no-underline", method: :delete do %>
            <i class="fa fa-power-off"></i> Log Out
          <% end %>
        </div>
      </div>
    </div>
</body>