<style>
  .main-nav {
    display: none;
  }
</style>
<body>
    <div class="col-md-2 vertical-panel">
      <div class="profile-details">
        <div class="col-md-12">
          <p class="white pharmacy-name"><%= current_driver.first_and_initial %></p>
          <hr style="border: 1px solid #fff; color: #fff !important; background: #fff !important;">
        </div>
      </div>
      <div class="nav-links">
        <ul class="nav flex-column">
          <li class="nav-item nav-item-pharmacy-view">
            <a class="nav-link nav-link-side <% if url.include?("/driver/requests") || url.end_with?('.io/' || '.com/') %>active<% end %>" href="/driver/requests">Requests</a>
          </li>
          <li class="nav-item nav-item-pharmacy-view">
            <a class="nav-link nav-link-side <% if url.include?("/my-earnings")%>active<% end %>" href="/transactions">Earnings</a>
          </li>
          <li class="nav-item nav-item-pharmacy-view">
            <a class="nav-link nav-link-side <% if url.include?("/driver/#{current_driver.id}/settings")%>active<% end %>" href="/driver/<%= current_driver.id %>/settings">Settings</a>
          </li>
          <li class="nav-item nav-item-pharmacy-view">
            <a class="nav-link nav-link-side <% if url.include?("/support")%>active<% end %>" href="/help">Support</a>
          </li>
        </ul>
      </div>
      <div class="dashboard-control">
        <div class="col-md-12 text-left logout-btn-div">
          <%= link_to destroy_driver_session_path, class:"white pharmacy-logout no-underline btn btn-light", method: :delete do %>
            <i class="fa fa-power-off"></i> Log Out
          <% end %>
        </div>
      </div>
    </div>
</body>