<li class="dropdown-item item-header"><strong>Interval</strong></li>
<li class="dropdown-divider"></li>
<a class="dropdown-item item" href="/my-earnings">Today (default)</a>
<a class="dropdown-item item" href="/my-earnings?time=week">Past Week</a>
<a class="dropdown-item item" href="/my-earnings?time=month">Past Month</a>
<a class="dropdown-item item" href="/my-earnings?time=bot">Beginning of Time</a>