<% if @batches.requested.last_month.present? %>
    <% @batches.requested.last_month.each do |bat| %>
        <div class="list-group-item list-group-item-action list-group-item-earnings">
            <div class="row">
                <div class="col-md-3">
                    <h6 class="theme-blue">
                        <% if bat.completed %>
                            Amount: <span class="theme-green"><%= amount(bat) %></span>
                        <% else %>
                            <em>pending</em>
                        <% end %>
                    </h6>
                </div>
                <div class="col-md-3">
                    <h6 class="theme-blue">Delivery #<%= bat.id %></h6>
                </div>
                <div class="col-md-6">
                    <h6 class="theme-blue"><%= timestamp(bat) %></h6>
                </div>
            </div>
        </div>
    <% end %>
<% else %>
    <div class="list-group-item list-group-item-action list-group-item-earnings">
        <div class="row">
            <div class="col-md-12 text-center">
                <h6 class="theme-blue">You haven't made any deliveries this past month.</h6>
            </div>
        </div>
    </div>
<% end %>