<div class="row" id="bankOnFile" style="display: none;">
    <div class="col-md-12" id="driverCareDetailsHeader">
      <div class="weighted font-18 float-left add-padding-top" id="carDetailsHeader">Bank Details</div>
      <div class="float-left add-padding-top add-padding-left-60" id="updateAlertBank" style="display: none;">
        <div class="font-14 weighted green" role="alert" id="updateAlertMessageBank"></div>
      </div>
      <div class="weighted float-right add-padding-top-10" id="editDriverBankDiv">
        <button class="btn btn-info transaction-buttons" id="showBankForm">
          <i class="fa fa-check-circle" id="saveBankLoader"></i> Update bank
        </button>
      </div>
    </div>
    <div class="col-md-12"><hr></div>
    <div class="col-md-12">
        <div class="float-left font-14 medium-gray">Bank account info saved on file</div>
    </div>
</div>