<div class="all-requests">
    <div class="request-card-container">
        <ol>
            <% @batch.deliveries.reverse.each do |del| %>
                <li>
                    <div class="row">
                        <div class="col-md-7 request-card-div">
                            <div class="card" style="">
                              <div class="card-body">
                                <h5 class="card-title"><%= del.recipient_address %></h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <%= del.recipient_phone_number %> 
                                    <% if del.signed %>
                                        <span class="badge badge-success">Delivered</span>
                                    <% end %>
                                </h6>
                                <%= link_to 'View details', delivery_path(del), class:"btn btn-primary" %>
                                <a href="https://www.google.com/maps/dir/?api=1&destination=<%= CGI::escape(del.recipient_address) %>" class="btn btn-light white" target="_blank"> 
                                    View in Maps
                                </a>
                              </div>
                            </div>
                        </div>
                    </div>
                </li>
            <% end %>
        </ol>
    </div>
</div>