<body>
    <div class="row no-live-routes">
        <div class="col-md-6 offset-md-3 text-center">
            <div class="card">
                <div class="card-body">
                    <h5>You have no <%= live_or_complete %> deliveries</h5>
                </div>
             </div>
        </div>
    </div>
</body>