<div id="onboardingAddress" class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4 offset-md-4" id="loginBox">
        <div class="header add-padding-bottom"><h5 class="text-center medium-gray">Please read the following</h5></div>
        <button class="btn btn-secondary background-transparent disclosure-btn-padding pale-border btn-block no-box-shadow">
          <div class="float-left font-14 theme-blue">State Disclosures</div>
          <div class="float-right font-14 theme-blue text-right"><i class="fa fa-file-text-o"></i></div>
        </button>
        <button class="btn btn-secondary background-transparent disclosure-btn-padding pale-border btn-block no-box-shadow">
          <div class="float-left font-14 theme-blue">Background Check & Disclosure</div>
          <div class="float-right font-14 theme-blue text-right"><i class="fa fa-file-text-o"></i></div>
        </button>
        <div class="submit">
          <a class="btn btn-light btn-block white" id="agreementsNext" href="/onboarding/agreements?cid=<%= params[:cid] %>">Continue <i clsas="fa fa-long-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-4" id="onboardingError">
        <div class="alert alert-success" role="alert" id="alertMessage"></div>
      </div>
    </div>
  </div>
</div>