<div id="onboardingAddress" class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4 offset-md-4" id="loginBox">
        <div class="header"><h5 class="text-center medium-gray">Tell us about yourself</h5></div>
        <div class="field">
          <input type="text" class="form-control form--control font-14 pf authInput" id="onboarding-name" name="name" placeholder=" ">
          <label for="name">Name</label>
        </div>
        <div class="field">
          <input type="text" class="form-control form--control font-14 pf authInput" id="onboarding-phone" name="phone" placeholder=" ">
          <label for="phone">Phone</label>
        </div>
        <div class="field">
          <input type="text" class="form-control form--control font-14 pf authInput" id="onboarding-address" name="address" placeholder=" ">
          <label for="address">Address</label>
        </div>
        <div class="submit">
          <a type="button" class="btn btn-light btn-block" id="agreementsNext" href="/onboarding/agreements?cid=<%= params[:cid] %>">Continue <i clsas="fa fa-long-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-4" id="onboardingError">
        <div class="alert alert-success" role="alert" id="alertMessage"></div>
      </div>
    </div>
  </div>
</div>