<style>
  .vertical-panel {
    display: none;
  }
  .main-nav {
    display: auto;
  }
  .main-pages {
    float: none !important;
  }
  .footer {
    background: #e5e5e5;
  }
  .form-control {
    height: 45px;
    background: #e5e5e5;
    border-radius: 0;
  }
  .card {
    border-radius: 0;
  }
  .btn {
    border-radius: 0;
  }
</style>

<body>
  <section class="row onfido-section">
    <div class="col-md-6 offset-md-4">
      <h6 class="text-center"><strong>Tell us a bit more about yourself</strong></h6>
      <%= render 'onfido' %>
    </div>
  </section>
</body>
