/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

/* App Layout*/
/* --scrollbar-- */
::-webkit-scrollbar {
    width: 10px;
    color: #03032b !important;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 15px #02021e; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 15px #02021e; 
}
body {
    overflow-x: hidden !important;
    background: #fafbfc;
    font-family: 'Roboto', sans-serif !important;
}
a:hover {
    color: inherit;
}
.navbar {
    background-color: #03032b !important;
}
.logo {
    color: #fff;
}
.font-14 {
    font-size: 14px;
}
.font-82 {
    font-size: 82px;
}
.padding-14 {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 9px;
    padding-bottom: 9px;
}
.theme-blue {
    color: #03032b !important;
}
.theme-red {
    color: #ff3232 !important;
}
.location-green {
    color: #5f9616 !important;
}
.pharmacy-search {
    display: block !important;
    width: 80% !important;
    height: 40px;
    border: none !important;
    border: 0.5px solid #03032b;
    box-shadow: none !important;
}
.pharmacy-search-addon {
    height: 40px;
    border: none !important;
    border: 0.5px solid #03032b;
    background: #fff !important;
}
.background-transparent {
    background: transparent !important;
}
.no-border-radius {
    border-radius: 0 !important;
}
.right-nav{
    padding-left: 35px;
    padding-right: 35px;
}
.for-pharmacy-button {
    color: #fff !important;
    border: 1px solid #fff;
    font-size: 14px;
    padding: 9px;
}
.for-pharmacy-button:hover {
    color: #03032b !important;
    background: #FFF !important;
    border: 1px solid #fff;
    box-shadow: none !important;
}
.new-driver-button {
    color: #03032b !important;
    background: #fff !important;
    border: 1px solid #fff;
    font-size: 14px;
    padding: 9px;
    font-family: 'Roboto', sans-serif;
}
.new-driver-button:hover {
    color: #fff !important;
    background: transparent !important;
    border: 1px solid #fff;
}
.sign-in-link {
    color: #fff !important;
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}
.sign-in-link:hover {
    /*color: #03032b !important;*/
}
.vertical-align-center {
    vertical-align: middle !important;
}

/* Devise */
.driver-signup-banner {
    padding-bottom: 20px;
}
.driver-signup-banner-text{
    color: #03032b !important;
}
.placeholder-div {
    float: right;
    padding: 0 !important;
    height: 100% !important;
}
.field {
        padding-top: 15px;
}
.actions {
    padding-top: 20px;
}
.form-control {
    border: 1px solid #ccccd4;
    height: 40px;
}
.driver-signup {
    float: left !important;
    height: 100% !important;
}
.courier-image {
    width: 115% !important;
    height: 115% !important;
}
.driver-signup-div {
    vertical-align: middle !important;
    padding-top: 50px;
    padding-bottom: 50px;
}
.driver-login-button {
    color: #fff !important;
}
.driver-signup-button {
    cursor: pointer;
}

@media only screen and (max-device-width: 768px) {
    .no-mobile {
        display: none;
    }
    .driver-signup-form {
        float: none !important;
    }
}

/* Batches Views */
.badge {
    font-family: "Roboto", sans-serif;
    font-weight: 300px;
    font-size: 12px;
}
.item-header:hover {
    background: transparent;
}
.item:hover {
    background: #03032b;
    color: #fff;
}
.all-batches {
    padding: 40px;
}
.batches-details {
    padding-right: 80px;
}
.new-batch-card {
    padding: 40px;
    border: 1px solid #03032b;
}
.new-batch-card:hover {
    background: #03032b !important;
    .add-new-batch {
        color: #fff !important;
    }
    .create-new-batch {
        color: #fff !important;
    }
}
.add-new-batch {
    font-size: 28px !important;
    color: #03032b !important;
}
.batch-new {
    padding-right: 10px;
}
.batch-index-body {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}
.create-new-batch {
    font-size: 24px;
}
.new-batch-form {
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 100px;
    padding-bottom: 150px;
}
.new-batch-button {
    cursor: pointer;
    font-size: 14px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.new-batch-button:hover {
    background: #fff !important;
    color: #03032b !important;
}
.batch-notes-field {
    height: 100px !important;
}
.show-batch {
    padding: 40px;
}
.cursor-pointer {
    cursor: pointer !important;
}
.prescription-card-div {
    padding-top: 20px;
    padding-bottom: 20px;
}
.prescription-card {
    border: 1px solid #d9dfc0;
}
.border-theme-blue {
    border: 1px solid #03032b;
}
.no-prescriptions {
    padding-bottom: 20px;
}
.batch-card-show {
    height: 151px !important;
    border: 1px solid #e7f1ca;
    box-shadow: inset 0px 0px 3px #b8c0a1;
}
.request-card {
    border: 1px solid #ccccd4;
}
.batch-card-show:hover {
    border: 1px solid #8a9079;
}
.request-card:hover {
    border: 1px solid #8a9079;
}
.batch-title-index:hover {
    color: #000 !important;
}
.request-show {
    padding: 40px;
}
.request-search {
    padding-left: 0;
    border: none;
    box-shadow: none !important;
    font-size: 14px;
    background: transparent;
}
.request-search-addon {
    height: 40px;
    border: none !important;
    border: 0.5px solid #03032b;
    background: #fff !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
}
.request-search-border {
    background: #fff;
    padding: 1px;
    border: 1px solid #ccccd4;
    border-radius: 5px;
}
.req-search-icon {
    font-size: 12px !important;
}
.search-icon-div {
    padding-top: 10px !important;
}
.requests-index-header {
    padding-bottom: 20px;
}
.dropdown-menu {
    font-size: 14px;
}

/* Invoice Views */
.transaction-graph-tab {
    color: #03032b !important;
}
.transaction-graph-tab:hover {
    background: #fff !important;
}
.pharmacy-transaction-report {
    padding-top: 40px;
}
.transaction-page-header {
    padding-bottom: 20px;
}

/* Charges Views */
.unconnected-stripe-warning {
    padding: 150px;
}
.transactions-table-header {
    background: #ccccd4;
}
.transactions-div-card-header {
    background: #03032b !important;
    padding-bottom: 0;
    padding-top: 10px;
}
.connected-stripe-div {
    padding-top: 20px;
}

/* Request Views */
.request-driver-card {
    padding: 10px;
}
.request-driver-avatar {
    border: 0.5px solid #ccccd4;
    width: 100px;
    height: 100px;
    background-color: transparent;
    text-align: center;
    height: 160px;
    width: 160px;
    border-radius: 80px !important;
    box-shadow: 0px 0px 4px #888888;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.request-driver-avi-div {
    overflow: hidden !important;
    padding-top: 5px;
}
.initials {
    position: relative;
    top: 25px; /* 25% of parent */
    font-size: 50px; /* 50% of parent */
    line-height: 50px; /* 50% of parent */
    color: #fff;
    font-family: "Courier New", monospace;
    font-weight: bold;
}
.all-requests {
    padding: 40px !important;
    // padding-top: 0 !important;
}
.all-requests-header {
    padding-top: 40px;
}
.request-card:hover {
    border: 1px solid #03032b;
    color: #000 !important;
}
.request-details-row {
    padding-bottom: 0;
}
.request-card-div {
    padding-bottom: 10px;
}
.request-details {
    padding-right: 100px;
}
.request-detail {
    padding-bottom: 20px;
}
.show-request-header{
    padding-bottom: 40px;
    padding-top: 40px;
}
.theme-green {
    color: #134d13 !important;
}
.btn-success {
    background: #134d13 !important;
    border: 1px solid #0f3d0f;
}
.btn-primary {
    background: #03032b !important;
    border: 1px solid #020222 !important;
    color: #fff !important;
}
.btn-primary:hover {
    background: #fff !important;
    color: #03032b !important;
}
.btn-light {
    background: #01665d;
    border: 1px solid #01665d;
    color: white;
    font-size: 14px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-light:hover {
    cursor: pointer;
    background: #003d37;
    border: 1px solid #003d37;
    color: #fff;
}
.btn-delete {
    font-size: 14px;
}
.btn-danger {
    font-size: 14px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.theme-yellow {
    color: #878706 !important;
}
.status-icon {
    font-size: 34px !important;
}
.status-icon-div {
    padding-top: 10px;
}

/* Driver Views*/
.driver-edit-row {
    padding: 40px;
}
.complete-signup-header{
    padding-top: 40px;
}
.other-div {
    float: center !important;
}
.post-driver-signup-notice {
    padding-top: 30px;
}
.post-driver-signup-card{
    border: 1px solid #03032b;
}
.account-under-review {
    padding-top: 250px;
    padding-bottom: 40px;
}
.log-out-from-notice {
    color: #fff !important;
}

/* Package Views */

.package-action-buttons {
    padding-top: 10px;
}

/* Pharmacy Views */
.notice {
    padding-left: 40px;
    padding-right: 40px;
}
.search-header {
    padding-bottom: 20px;
}
.search-container {
    padding-left: 100px;
    padding-right: 100px;
}
.no-underline {
    text-decoration: none !important;
}
.vertical-panel {
    float: left !important;
    background: #03032b !important;
    position: fixed !important;
    border-right: 1px solid #020222;
    box-shadow: inset 0px 0px 5px #010115;
    height: 100vw !important;
}
.white {
    color: #fff !important;
}
.black {
    color: #000 !important;
}
.nav-item-pharmacy-view {
    padding-top: 20px;
}
.nav-button-1 {
    padding-right: 15px;
}
.nav-button-2 {
    padding: 0;
}
.nav-button-3 {
    padding-left: 15px;
}
.nav-link-side {
    font-size: 14px;
    padding: 14px;
    font-weight: 600px;
    color: #fff !important;
    border-radius: 3px !important;
}
.settings-header {
    padding-left: 15px;
}
.nav-link-side:hover {
    background: #fff !important;
    color: #03032b !important;
    border-radius: 5px;
}
.nav-link-edit {
    font-size: 14px !important;
    padding-right: 120px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-top: 15px;
}
.nav-link-edit:hover {
    background: #01665d !important;
    color: #fff !important;
}
.active {
    background: #fff !important;
    color: #03032b !important;
    border-radius: 5px;
}
.inverse-active {
    background: #01665d !important;
    color: #fff !important;
    border-radius: 5px;
}
.flex-column {
    padding-bottom: 20px;
}
.pharmacy-avatar {
    height: 90px;
}
.profile-details {
    padding-top: 30px;
    padding-bottom: 30px;
}
.pharmacy-name {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600px;
}
.logout-btn-div {
    padding-left: 0;
}
.pharmacy-logout {
    font-size: 14px !important;
    padding-left: 14px;
    padding-right: 14px;
    background: transparent !important;
}
.pharmacy-logout:hover {
    background: #fff !important;
    color: #03032b !important;
}
.dashboard-control {
    padding-top: 20px;
    padding-bottom: 100px;
}
.billing-tab {
    padding-top: 0 !important;
}
.hide {
    display: none;
}
.show {
    display: block !important;
}

/* Patient Views */
.patient-name-label {
    padding-top: 1px;
    padding-bottom: 1px;
}
.form-header {
    padding-top: 5px;
}
.border-gray {
    border: 1px solid #ccccd4;
}
.all-patients {
    padding: 40px;
}
.patients-instructions-field {
    height: 80px !important;
}
.patient-table-header {
    background: #ccccd4;
    border-bottom-left-radius: 0;
}
.new-patient-form {
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 40px;
    padding-bottom: 20px;
}
.patient-show {
    padding: 40px;
}
.patient-profile-detail {
    padding-top: 3px;
}
.patient-prescriptions {
    padding-top: 10px;
}

/* Delivery Views */
.delivery-signature {
    height: 100%;
    width: 100%;
}
.signature_pad {
  width: 700px;
  height: 400px;
  margin: 0 auto;
}

.signature_pad_body canvas {
  width: 100%;
  height: 100%;
  border: dotted #444;
  background: #CCCCCC;
}

/* Support Views */
.support-body {
    padding: 40px;
}
.faq {
    padding-bottom: 10px;
}


/* IDs */
#v-pills-profile {
    padding-top: 0 !important;
}

/* Mobile Rules */

@media only screen and (max-device-width: 768px) {
    body {
        overflow: hidden !important;
    }
}