.bold {
    font-weight: 900;
}

.semi-bold {
    font-weight: 700;
}

.open-sans {
    font-family: 'Open Sans', sans-serif !important;
}

.medium-gray {
    color: #707071 !important;
}

.font-13 {
    font-size: 13px;
}

.font-40 {
    font-size: 40px !important;
}

.font-11 {
    font-size: 11px;
}

.font-9 {
    font-size: 9px;
}

.font-30 {
    font-size: 30px;
}

.font-10 {
    font-size: 10px;
}

.font-14 {
    font-size: 14px;
}

.font-12 {
    font-size: 12px !important;
}

.font-16 {
    font-size: 16px;
}

.weighted {
    color: #32325d;
}

.font-20 {
    font-size: 20px;
}

.font-18 {
    font-size: 18px;
}

.font-24 {
    font-size: 24px;
}

.border-white {
    border-color: #fff !important;
}

.thick-border {
    border-width: 2px !important;
}

.height-40 {
    height: 40px !important;
}

.pale-border {
    border-color: #e1e1e2 !important;
}