.bold {
    font-weight: 900;
}

.semi-bold {
    font-weight: 700;
}

.medium-gray {
    color: #707071 !important;
}

.font-13 {
    font-size: 13px;
}

.font-11 {
    font-size: 11px;
}

.font-9 {
    font-size: 9px;
}

.font-10 {
    font-size: 10px;
}

.font-14 {
    font-size: 14px;
}

.font-20 {
    font-size: 20px;
}

.font-18 {
    font-size: 18px;
}

.font-24 {
    font-size: 24px;
}