<style>
    .fa-check-circle-o {
        font-size: 30px;
    }
</style>

<div class="row fail-row">
    <div class="col-md-12 text-center">
        <i class="fa fa-times-circle-o theme-red"></i>
    </div>
</div>