<style>
    .loader-col {
        padding-top: 30px;
        padding-bottom: 30px;
    }
</style>

<div class="row loader-row">
    <div class="col-md-12 text-center loader-col">
        <i class="fa fa-circle-o-notch theme-blue fa-spin fa-3x fa-fw"></i>
    </div>
</div>