<style>
    .fa-spinner {
        font-size: 30px;
    }
    .rp-loading {
        padding-bottom: 10px;
    }
</style>

<div class="row">
    <div class="col-md-12 text-center">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw theme-blue"></i>
    </div>
    <div class="col-md-12 text-center rp-loading">
        <span class="font-13 medium-gray">Request Pending</span>
    </div>
</div>