<div class="row request-failed">
    <div class="col-md-12 text-center">
        <%= render 'common/failure' %>
        <h6 class="medium-gray">There was a problem sending your request!</h6>
    </div>
</div>