<div class="unconnected-stripe-warning">
    <div class="card text-center no-border-radius">
      <div class="card-header transactions-div-card-header no-border-radius">
        <h4 class="white">Notice</h4>
      </div>
      <div class="card-body">
        <h4 class="card-title"><%= notice %></h4>
        <a class="white btn btn-success no-border-radius" href="/transactions">
            <!--<i class="fa fa-cc-stripe white"></i>-->
            Go to my transactions dashboard
        </a>
      </div>
      <div class="card-footer text-muted background-transparent">
        &copy; Darlyne Logistics
      </div>
    </div>
</div>