<% if current_pharmacy.stripe_connected %>
    <div class="connected-stripe-div">
        <div class="row">
            <div class="col-md-12">
                <h3>Transactions Dashboard</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
<% else %>
    <div class="unconnected-stripe-warning">
        <div class="card text-center no-border-radius">
          <div class="card-header transactions-div-card-header no-border-radius">
            <h4 class="white">Note</h4>
          </div>
          <div class="card-body">
            <h4 class="card-title">Connect Your Stripe Account</h4>
            <p class="card-text">
                Darlyne uses the secure <%= link_to "Stripe API", "https://stripe.com", class:"theme-blue background-transparent" %>
                to handle all transactions and statements. Stripe is also used by the likes of 
                Uber and Airbnb. Note: Although the below button seems to prompt you to pay, 
                your account won't actually be charged any amount. You will instead see a 
                blank charge of $0 in your bank account statements.
            </p>
            <%= render 'form' %>
          </div>
          <div class="card-footer text-muted background-transparent">
            &copy; Darlyne Logistics
          </div>
        </div>
    </div>
<% end %>