<footer class="footer">
    <div class="row">
        <div class="col-md-4 text-center">
            <h6>&copy; 2017 Darlyne Logistics</h6>
        </div>
        <div class="col-md-4 text-center">
            <h6>
                <a class='footer-link background-transparent' href='/privacy'>Privacy</a>
                <a class='footer-link background-transparent' href='/terms'>Terms</a>
            </h6>
        </div>
        <div class="col-md-4 text-center">
            <h6><a class='footer-link background-transparent' href='/driving-policy'>Driving Policy</a></h6>
        </div>
    </div>
</footer>