<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="float-left" style="width: 33%;">
                    <!--<h6><a class='footer-link background-transparent' href='/about'>About</a></h6>-->
                    <h6><a class='footer-link background-transparent' href='/press'>Press</a></h6>
                    <h6><a class='footer-link background-transparent' href='/contact'>Contact</a></h6>
                    <h6><a class='footer-link background-transparent' href='/support'>Support</a></h6>
                </div>
                <div class="float-left" style="width: 33%;">
                    <h6><a class='footer-link background-transparent' href='/legal/privacy'>Privacy</a></h6>
                    <h6><a class='footer-link background-transparent' href='/legal/terms'>Terms</a></h6>
                    <h6><a class='footer-link background-transparent' href='/legal/hippaa'>Hippaa</a></h6>
                </div>
                <div class="float-left" style="width: 33%;">
                    <h6 class="footer-link background-transparent white">&copy; 2018 RxCarriers</h6>
                </div>
            </div>
        </div>
    </div>
</footer>