<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 add-padding-bottom">
                <div class="float-left" style="width: 33%;">
                    <h6 class="white" style="margin-bottom: 20px;">COMPANY</h6>
                    <h6><a class='footer-link background-transparent' href='/about'>About</a></h6>
                    <h6><a class='footer-link background-transparent' href='https://medium.com/@rxcarriers' target="_blank">Blog</a></h6>
                    <h6><a class='footer-link background-transparent' href='/contact'>Contact</a></h6>
                </div>
                <div class="float-left" style="width: 33%;">
                    <h6 class="white" style="margin-bottom: 20px;">SERVICES</h6>
                    <h6><a class='footer-link background-transparent' href='/pharmacy/login'>Pharmacy Login</a></h6>
                    <h6><a class='footer-link background-transparent' href='/legal/terms'>Rx Digital</a></h6>
                    <h6><a class='footer-link background-transparent' href='https://rxcarriers.zendesk.com/hc/en-us' target="_blank">Support</a></h6>
                </div>
                <div class="float-left" style="width: 33%;">
                    <h6 class="white" style="margin-bottom: 20px;">LEGAL</h6>
                    <h6><a class='footer-link background-transparent' href='/legal/privacy'>Privacy</a></h6>
                    <h6><a class='footer-link background-transparent' href='/legal/terms'>Terms</a></h6>
                    <h6><a class='footer-link background-transparent' href='https://www.hhs.gov/hipaa/for-professionals/privacy/laws-regulations/index.html' target="_blank">Hippaa</a></h6>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%; padding: 15px 0; background: #232830;">
        <div class="container">
            <div class="row">
                <div class="text-left col-md-4" id="copyright">
                    <h6 class="font-14 background-transparent white">&copy; 2018 RxCarriers</h6>
                </div>
                <div class="text-right col-md-4 offset-md-4" id="socialTags">
                    <span class="badge badge-light badge-circle-medium">
                        <a href="https://instagram.com/rxcarriers" class="background-transparent theme-blue" target="_blank">
                            <i class="fa fa-instagram" style="font-size: 20px; margin-top: 2px;"></i>
                        </a>
                    </span>
                    <span class="badge badge-light badge-circle-medium" style="margin-left: 8px;">
                        <a href="https://twitter.com/rxcarriers" class="background-transparent theme-blue" target="_blank">
                            <i class="fa fa-twitter" style="font-size: 20px; margin-top: 2px;"></i>
                        </a>
                    </span>
                    <span class="badge badge-light badge-circle-medium" style="margin-left: 8px;">
                        <a href="https://facebook.com/rxcarriers" class="background-transparent theme-blue" target="_blank">
                            <i class="fa fa-facebook" style="font-size: 20px; margin-top: 2px;"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>