<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="float-left" style="width: 33%;">
                    <!--<h6><a class='footer-link background-transparent' href='/about'>About</a></h6>-->
                    <h6><a class='footer-link background-transparent' href='/press'>Press</a></h6>
                    <h6><a class='footer-link background-transparent' href='/contact'>Contact</a></h6>
                    <h6><a class='footer-link background-transparent' href='https://rxcarriers.zendesk.com/hc/en-us' target="_blank">Support</a></h6>
                </div>
                <div class="float-left" style="width: 33%;">
                    <h6><a class='footer-link background-transparent' href='/legal/privacy'>Privacy</a></h6>
                    <h6><a class='footer-link background-transparent' href='/legal/terms'>Terms</a></h6>
                    <h6><a class='footer-link background-transparent' href='https://www.hhs.gov/hipaa/for-professionals/privacy/laws-regulations/index.html' target="_blank">Hippaa</a></h6>
                </div>
                <div class="float-left" style="width: 33%;">
                    <h6 class="font-14 background-transparent white">&copy; 2018 RxCarriers</h6>
                </div>
            </div>
        </div>
    </div>
</footer>