<div class="col-md-12 no-horizontal-padding">
    <h4 class="bold font-16">Quickstart</h4>
    <div class="add-padding-top">
        <ol>
            <li class="font-14 underline">Your dashboard</li>
            <div style="margin-left: 10px;">
                The page you're currently on is your dashboard. This is where you
                will receive live refill or delivery requests from your customers.
                The software actively performs updates so that you receive those requests
                in real-time. The panel on the left also tracks down how many deliveries you
                send on a given day, as well as all pending refill or delivery
                requests. The input field at the bottom left corner allows you
                to change the name of the managing pharmacist on duty (if your
                pharmacy has multiple pharmacists).
            </div>
            <li class="font-14 underline">Rx List</li>
            <div style="margin-left: 10px;">
                In the navigation bar, the 'Rx List' section is where all of your
                rx numbers are, and where you manage and make updates to them (newly refilled,
                sent out for delivery, picked up by customer, etc...). That's also
                where you will be able to directly communicate with your customers
                via text or call. Remember to <b>avoid sending sensitive/private
                customer information over texts or calls</b>. RxCarriers is not
                responsible for any complication that may arise from such exchanges. Check out
                <a href="https://www.hhs.gov/hipaa/for-professionals/privacy/laws-regulations/index.html" target="_blank" class="background-transparent theme-blue">
                    Hipaa's 
                </a>
                official site for more details.
            </div>
        </ol>
    </div>
</div>