<nav class="navbar navbar-expand-lg main-nav fixed-top">
  <div class="container">
    <a class="navbar-brand background-transparent" href="/"><h4 class="logo">RxCarriers</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars toggler-icon"></i>
      <!--<span class="navbar-toggler-icon"></span>-->
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="col-md-8 nav-col">
        <ul class="navbar-nav signed-out-navbar-nav">
          <li class="nav-item-logged-out nav-item nav-item-logged-out-pharmacy-view">
            <a class="nav-link nav-link-left" href="/batches">ABOUT</a>
            <hr class="nav-hr">
          </li>
          <li class="nav-item-logged-out nav-item nav-item-logged-out-pharmacy-view">
            <a class="nav-link nav-link-left" href="/requests">PHARMACIES</a>
            <hr class="nav-hr">
          </li>
          <li class="nav-item-logged-out nav-item nav-item-logged-out-pharmacy-view">
            <a class="nav-link nav-link-left" href="/patients">DRIVERS</a>
            <hr class="nav-hr">
          </li>
          <li class="nav-item-logged-out nav-item nav-item-logged-out-pharmacy-view">
            <a class="nav-link nav-link-left" href="/transactions">PRICING</a>
            <hr class="nav-hr">
          </li>
        </ul>
      </div>
      <div class="col-md-2 offset-md-2 nav-col">
        <ul class="navbar-nav navbar-nav-second">
          <li class="nav-item nav-item-logged-out-pharmacy-view main-signup-button">
            <a class="nav-link nav-link-right" href="/pharmacy/login">Pharmacy Login</a>
          </li>
        </ul>
      </div>
      <!--</div>-->
    </div>
  </div>
</nav>