<nav class="navbar navbar-expand-lg main-nav fixed-top">
  <div class="container mobile-container">
    <a class="navbar-brand background-transparent" href="/"><h3 class="logo ubuntu"><img src="/javascripts/pharmacy.png"> RxCarriers</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars toggler-icon"></i>
      <!--<span class="navbar-toggler-icon"></span>-->
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="padding-left: 0 !important; padding-right: 0 !important; padding-top: 10px;">
      <!--<div class="col-md-7 offset-md-5 nav-col no-horizontal-padding">-->
        <ul class="navbar-nav navbar-nav-second" style="padding-top: 10px;">
          <li class="nav-item-logged-out nav-item nav-item-logged-out-pharmacy-view">
            <a class="nav-link nav-link-left" href="https://medium.com/@rxcarriers" target="_blank">BLOG</a>
            <hr class="nav-hr">
          </li>
          <li class="nav-item-logged-out nav-item nav-item-logged-out-pharmacy-view">
            <a class="nav-link nav-link-left" href="/status">CHECK RX STATUS</a>
            <hr class="nav-hr">
          </li>
          <!--<li class="nav-item-logged-out nav-item nav-item-logged-out-pharmacy-view">-->
          <!--  <a class="nav-link nav-link-left" href="/for-pharmacies">FOR PHARMACIES</a>-->
          <!--  <hr class="nav-hr">-->
          <!--</li>-->
          <li class="nav-item nav-item-logged-out-pharmacy-view" style="padding-left: 0 !important; padding-right: 0 !important;">
            <a class="nav-link nav-link-right cta-login btn btn-secondary" href="/pharmacy/login">Pharmacy Login</a>
          </li>
        </ul>
      <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</nav>