<nav class="navbar navbar-expand-lg main-nav fixed-top">
  <div class="container mobile-container">
    <a class="navbar-brand background-transparent" style="vertical-align: middle !important;" href="/"><h4 class="logo ubuntu">RxCarriers</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars toggler-icon"></i>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="padding-left: 0 !important; padding-right: 0 !important; padding-top: 10px;">
      <ul class="navbar-nav navbar-nav-second" style="padding-top: 10px;">
        <!--<li class="nav-item-logged-out nav-item nav-item-logged-out-pharmacy-view">-->
        <!--  <a class="nav-link nav-link-left" href="https://medium.com/@rxcarriers" target="_blank">BLOG</a>-->
        <!--  <hr class="nav-hr">-->
        <!--</li>-->
        <!--<li class="nav-item-logged-out nav-item nav-item-logged-out-pharmacy-view">-->
        <!--  <a class="nav-link nav-link-left" href="/search">FIND A PHARMACY</a>-->
        <!--  <hr class="nav-hr">-->
        <!--</li>-->
        <!--<li class="nav-item-logged-out nav-item nav-item-logged-out-pharmacy-view">-->
        <!--  <a class="nav-link nav-link-left" href="/for-pharmacies">FOR PHARMACIES</a>-->
        <!--  <hr class="nav-hr">-->
        <!--</li>-->
        <li class="nav-item nav-item-logged-out-pharmacy-view" style="padding-left: 0 !important; padding-right: 0 !important;">
          <a class="nav-link nav-link-right cta-login btn btn-secondary" href="/pharmacy/signup">Pharmacy Signup</a>
        </li>
        <li class="nav-item nav-item-logged-out-pharmacy-view" style="padding-left: 0 !important; padding-right: 0 !important;">
          <a class="nav-link nav-link-right cta-signup btn btn-light" href="/pharmacy/login">Pharmacy login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>